body {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 30px;
  color: #ffffff;
}

h2 {
  font-size: 14px;
  margin-bottom: 20px;
}

.tabela-verde {
  background-color: #4CAF50;
  border: 3px solid #4CAF50;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
}

.campo-grande {
  margin-bottom: 30px;
}

.campo-grande label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.campo-grande input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
}

.registro {
  margin-bottom: 30px;
  border-top: 2px dashed #4CAF50;
  padding-top: 20px;
}

.grupo {
  margin-bottom: 15px;
}

.grupo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.grupo input, .grupo textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 90px;
}