body {
  background: white;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
}

.card {
  background-color: #4CAF50; 
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.top-bar-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.titulo {
  font-size: 18px;
  font-weight: bold;
}

.search-area {
  display: flex;
  gap: 5px;
}

.search-input {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}

.search-btn {
  padding: 5px 10px;
  border-radius: 5px;
  background: white;
  color: #4CAF50;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 2px 6px;
  font-size: 12px;
  height: 28px;
  margin: 4px 0;
  color: black;
  border-radius: 4px;
  border: none;
  line-height: 1.1;
  box-sizing: border-box;
}

textarea {
  height: 50px;
  resize: vertical;
}